@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h4>Add a new Ingredient</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Recipe)
  @Html.DropDownList("RecipeId")

  <input type="submit" value="Add new recipe" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all recipes", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>